.btn {
	height: 45px;
	width: 178px;
	background-color: $main-color;
	text-align: center;
	color: $second-color;
	border-radius: 6px;
	border: none;
	margin-left: 1123px;
	margin-top: 60px;
}
.btn_2 {
	width: 208px;
	margin: 18px 0 0 13px;
}

.about__btn {
	height: 112px;
	width: 112px;
	background-color: $main-color;
	border-radius: 50%;
	border: none;
}
