.btn {
	height: 51px;
	width: 178px;
	background-color: $main-color;
	text-align: center;
	color: $second-color;
	border-radius: 6px;
	border: none;
	margin-left: 1123px;
	margin-top: 60px;
}
.btn_2 {
	width: 208px;
	margin: 18px 0 0 13px;
}
