.episodes {
	padding-top: 93px;
	h2 {
		font-style: normal;
		font-weight: 400;
		font-size: 64px;
		line-height: 79px;
		color: $second-color;
	}

	&__title {
		position: absolute;
	}

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item {
		display: flex;
		justify-content: center;
		width: 1300px;
		margin-top: 60px;
		background-color: #000000;
		border-radius: 32px;
		height: 512px;
		&_first {
			height: 545px;
		}
	}
	&__img {
		width: 389px;
		height: 465px;
		margin: 40px;
	}

	.subtitle {
		margin: 48px 0 0 13px;
	}

	.title {
		height: 141px;
		margin: 18px 0 0 13px;
		width: 700px;
	}
	.text {

		margin: 28px 0 0 13px;
		width: 757px;
	}
}
