@import '../base/variables';

.header {
	display: flex;
	justify-content: space-between;
	height: 119px;
	&__logo {
		margin: 43px 50px;
	}
	&__links {
		display: flex;
		margin-top: 46px;
		padding: 0 70px;
	}
	&__link {
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 27px;
		color: $second-color;
		margin-left: 40px;
	}
}
