.title {
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 79px;
	color: $second-color;
}
.subtitle {
	color: $main-color;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	&__help {
		margin: 48px 0 0 13px;
		color: $second-color;
		background-color: #191919;
		height: 27px;
		border-radius: 6px;
		width: 73px;
		text-align: center;
		padding: 2px;
		font-size: 17px;
	}
	&__help_2 {
		width: 136px;
	}
}

.text {
	margin-top: 18px;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 33px;
	color: rgba(255, 255, 255, 0.7);
	max-height: 99px;
}
